<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://swyrt.com/">Say What You Really Think</a>
  is a soapbox for all and sundry to mount and release the truth about life, the universe and everything!
</p>