<<<<<<< HEAD
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
=======
<% provide(:title, 'Home') %>
<h1>Say What You Really Think</h1>
<p>
  This is the home page for the
  <a href="http://swyrt.com">Say What You Really Think</a>
</p>
>>>>>>> static-pages
